html{
    color: white;
}
* ul li{
    list-style: none;
}
* img {
    width: 100%;
}
/* body{
    width: 1651px;
} */
/* .debug {
    border: 2px dashed red;
    min-height: 90px;
} */

#about .container , #contact .container {
    max-width: 985px;
    

}

.btn.btn-succes.background-green {
    background-color: #1abc9c;
    color: white;
    border: 1px solid white;

}
.form-floating.border_bottom input,.form-floating.border_bottom textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
#jumbo{
    
    text-align: center;
     background-color:#1abc9c;
}
.ms-profile-wrapper img{
    width: 270px;
   object-fit: cover;
   margin: 0 auto;

}


footer{
    color: white;
}

.star-container:after ,.star-container:before {
    content:"";
    display: block;
    height: 2px;
    width: 171px;
    background-color: black;
    border-radius: 999;
}


.job-title li:not(:last-child):after {
    display: inline;
    content: "-";
    padding: 0 15px;
}

.job-title li{
    white-space: nowrap;
} 


.section-title.text-white .star-container:after,
.section-title.text-white .star-container:before {
    background-color: white;
}


        /* PORTFOLIO  */


.portfolio__card {
    
    border-radius: 5px;
    overflow: hidden;
    position: relative
}

.portfolio__card:after{
    content: "";
    display: block;
    background-color: #1abc9c;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.portfolio__card i{
    z-index: 10;
}
.portfolio__card i,
.portfolio__card:after{
    transition: all 0.2s ease-in-out ;
    opacity: 0;
}
.portfolio__card:hover i{
    opacity: 1;
}
.portfolio__card:hover::after,.portfolio__card:hover i{
    opacity: 0.7;
}


.about_description{
    column-count: 2;
    column-gap: 1.5rem;

}
#about .container {
    max-width: 985px;
}
#about {
    background-color:#1abc9c;
}

#contact{
    min-height: 400px;
}