

.debug {
    border: 2px dashed red;
    min-height: 90px;
}
.debug .debug {
    border: 2px solid lightskyblue;
}
.ms_profile_wrapper{

    height:400px;

}

.ms_img-wrapper img{
    min-width: 100%;
}

.ms_img-wrapper {
    flex-basis: 33%;
   
}